html
head
title PUG Tutorial 
body 
form(action="/data" method="get") 
    label Name : 
    input(type="text" placeholder="Name" name="name")
    br
    label Email : 
    input(type="email" placeholder="Email" name="email")
    br
    label Course : 
    input(type="radio" name="course" value="CSE") 
    |CSE
    input(type="radio" name="course" value="CE") 
    |CE
    input(type="radio" name="course" value="IT") 
    |IT
    br
    input(type="submit" value="Submit")